.statusBar {
    -fx-background-color: #efefef;
    -fx-padding: 10px 50px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2px 0 0 0;  
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.message {
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 64px;	
	-fx-fill: red;
	-fx-stroke: black;
}